<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Armandas Venys | Fakebook
   </title>
   <link rel="stylesheet" href="style2.css"/>
</head>
<body>
<h1><i>FAKEBOOK</i></h1>

Search: <input type="text" placeholder="Search by name">
<h2>Armandas Venys</h2>

<img src="I like football.jpg" width="300" alt="loading" class="image">
<br>
<button class="blue-text">Add a friend</button>
<!--br padaro nauja eilute-->
<p><strong class="strong">City:</strong>Vilnius</p>
<p><strong class="strong">Age:</strong>14</p>
<p><strong class="strong">Education:</strong>"FM Žaibas" and SmartNinja</p>
<p><strong class="strong">Hobby:</strong>Football and computers</p>
<p><strong class="strong">FB friends:</strong>123</p>
<p><strong class="strong">FB enemies:</strong>-3</p>
</body>
</html>