<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Chrome
    </title>
    <link rel="stylesheet" href="static/css/GoogleChrome.css">

        </head>
    <body>
     <div class="menu-conatiner">
        <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Ftab%3Dwm&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin #560" target="_blank">Gmail</a>
         <a href="https://www.google.lt/imghp?hl=lt&tab=wi #590" target="_blank">Vaizdai</a>
         <a href="https://accounts.google.com/ServiceLogin/signinchooser?service=mail&passive=true&rm=false&continue=https%3A%2F%2Fmail.google.com%2Fmail%2F%3Ftab%3Dwm&scc=1&ltmpl=default&ltmplcache=2&emr=1&osid=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin #560"><button class="button-color">Prisijungti</button></a>
     </div>
    <p class="text-size">
             <span style='color: blue'><strong>G</strong></span>
             <span style='color: red'><strong>o</strong></span>
             <span style='color: yellow'><strong>o</strong></span>
             <span style='color: blue'><strong>g</strong></span>
             <span style='color: green'><strong>l</strong></span>
             <span style='color: red'><strong>e</strong></span>
    </p>
     <div class="placeholder-position">
         <input type="text" placeholder="Ieškoti Google ar įvesti URL">
     </div>
     <div>
    <button class="goooglepaieška-button">"Google" paieška</button>
         <a href="https://www.google.com/doodles/" target="_blank"><button class="mansekasi-button">Man sekasi!</button></a>
     </div>
    <div class="lietuva-container">
        Lietuva
        <br>
        <a href="https://ads.google.com/intl/lt_lt/home/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Reklamavimas</a>
        <a href="https://www.google.lt/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1#?modal_active=none">Verslas</a>
        <a href="https://about.google/intl/lt_lt/?utm_source=google-LT&utm_medium=referral&utm_campaign=hp-footer&fg=1">Apie</a>
    </div>
    <div class="link-options">
        <a href="https://policies.google.com/privacy?hl=lt&gl=lt">Privatumas</a>
        <a href="https://policies.google.com/terms?hl=lt&gl=lt">Sąlygos</a>
        Nustatymai
    </div>

    </body>
</html>